<!-- Fixed navbar -->
<style>
    .navbar-brand, .navbar-default{
        background-color: #ffddcc;
        font-family: "Open Sans Semibold";
        font-size: 18px;
    }

    .navbar-default .navbar-brand>a:active
    .navbar-default .navbar-brand>a:hover{
        background-color: #ffb59d;
    }

    .navbar-collapse{
        background-color: #fffccc;
        font-family: "Open Sans Semibold";
        font-size: 18px;
    }
    .navbar-collapse>a:active{

    }




</style>
<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'lab-4:index' %}">HOME</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <!-- LINK MENUJU table, dan link menuju home#form -->
                <li id="form_temp"><a href="{% url 'lab-4:index' %}#form"> FORM </a> </li>
                <li id="message_table"><a href="{% url 'lab-4:result_table' %}"> MESSAGE LIST </a> </li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>