{% extends "lab_10/layout/base.html" %}

{% block content %}
<div class="row">
    <img src="{{ movie.poster }}"/><hr>
    <h1 style="font-family: Bebas">{{ movie.title }}</h1><br>
    <p style="font-family: Euphemia font-size: 18px">Genre: {{ movie.genre }}<br>
    Year: {{ movie.year }}<br>
    Language: {{ movie.language}}<br>
    Director: {{ movie.director }}<br>
    Writer: {{ movie.writer }}<br>
    Actors: {{ movie.actors }}<br>
    Plot: {{ movie.plot }}</p>
    <hr>


    <br>
    <div class="box">
        {% if added %}
        <button class="btn btn-success"> Added to Watch Later </button>
        {% else %}
        <a href="{% url 'lab-10:add_watch_later' id %}" class="btn btn-warning"> Add to Watch Later </a>
        {% endif%}
    </div>


</div>
{% endblock %}
