{% extends "lab_10/layout/base.html" %}

{% block content %}
<div class="row">
    {% for movie in watch_later_movies %}
        <img src="{{ movie.poster }}"/>
        <p> {{ movie.title}} </p><hr>
    {% endfor %}
</div>

 <div class="row2">
    {% for movie in moviesku %}
    <p> {{ movie.title }} </p>
    {% endfor %}
</div>
{% endblock %}
