 *{
      padding: 0px;
      margin: 0px;
      font-family: 'Calibri';
    }
 nav > .container , .footer{
     background-color: #B4D8E7;
     width: auto;
     height: 10%;
 }

 nav .navbar-brand{
    font-family: Montserrat;
}

 .select-box{
     margin-top: 10px;
     margin-bottom: 10px;
     margin-left: 10%;
 }

 .my-select{
     width: 100px;
 }

 .apply-button{
     float: right;
     margin-top: 3px;
     margin-left: 10px;
     width: 100px;
     color: transparent;
     background-color: #b695ff;
     font-weight: bold;
     font-family: Montserrat;
     border-color: white;
 }

 h1{
     color: transparent;
     text-align: center;
     font-family: Montserrat;
 }

 body{
     height: 100%;
     background: #95a5a6;
 }

    .chat-box{
      position: absolute;
      right: 0px;
      bottom: 30px;
      background: white;
      width: 300px;
    }

    .chat-head{
      width: inherit;
      height: 100%;
      background: #404565;
    }
    .chat-head h3{
        color: white;
        margin-left: 10px;
        padding: 8px;
        font-size: 24px;
        display: inline-block;
    }
    .chat-head img{
      cursor: pointer;
      float: right;
      width: 28px;
      margin: 10px;
        margin-top: 25px;
    }

    .chat-body{
      height: 355px;
      width: inherit;
      margin-bottom: 45px;
    }

.chat-history{
    padding: 10px;
    width: 100%;
    height:100%;
    overflow: auto;
    background-image: url("https://static.tumblr.com/4e5f41f4e0ce3540a6fbb205e1842fbc/xrmxa33/JJrn4ru6p/tumblr_static_b34bx11e9748w0ocs4kggoswg_1024.jpg");
}

.chat{
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    margin-bottom: 10px
}

.chat .message{
    width: 70%;
    padding: 10px;
    margin: 5px 0px 0px 100px;
    border-radius: 10px;
    background: #C6F5A7;
}

    .chat-text{
      bottom: 0px;
      height: 45px;
      width: inherit;
    }
    .chat-text textarea{
      width: inherit;
      height: inherit;
      box-sizing: border-box;
      border: 1px solid #bdc3c7;
      padding: 10px;
      resize: none;
    }
    .chat-text textarea:active, .chat-text textarea:focus, .chat-text textarea:hover{
      border-color: royalblue;
    }
    .msg-send{
      background: #2ecc71;
    }
    .msg-receive{
      background: #3498db;
    }
    .msg-send, .msg-receive{
      width: 200px;
      height: 35px;
      padding: 5px 5px 5px 10px;
      margin: 10px auto;
      border-radius: 3px;
      line-height: 30px;
      position: relative;
      color: white;
    }
    .msg-receive:before{
      content: '';
      width: 0px;
      height: 0px;
      position: absolute;
      border: 15px solid;
      border-color: transparent #3498db transparent transparent;
      left: -29px;
      top: 7px;
    }
    .msg-send:after{
      content: '';
      width: 0px;
      height: 0px;
      position: absolute;
      border: 15px solid;
      border-color: transparent transparent transparent #2ecc71;
      right: -29px;
      top: 2.5px;
    }
 .msg-receive:hover, .msg-send:hover {
     opacity: .9;
 }

 .calculator {
      left: 0px;
      bottom: 30px;
}

.calculator .model {
  background: #4e4e4e;
}
.calculator .calcs {
  font-size: 56px;
  padding-top: 15px;
  padding-bottom: 15px;
  height: auto;
  border-radius: 0;
  cursor: text;
}

.calculator #title {
  color: #f9f9f9;
}

.calculator .btn {
  border-radius: 0;
}

.footer{
    background-color: #B4D8E7;
    position: absolute;
    width: 100%;
    bottom: 0px;
    height: 36px;
    text-align: center;
    font-size: 24px;
    color: #2c3e50;
    font-weight: bold;
}
