{% extends "lab_8/layout/base.html" %}

{% block content %}
    <div class="page">
    <div id="Login">
        <h1>It is actually not Facebook</h1>
        <div class="login-box">
            <button onclick="facebookLogin()">Login with Facebook</button>
        </div>
    </div>

    <div id='lab8'></div>
    </div>
{% endblock %}