<nav>
    <div class="container">
        <div class="navbar-header">
            <div class="select-box">
            <select class="my-select"></select>
            <button class="apply-button">apply</button>
                </div>
        </div>
    </div>
</nav>