<style>
	h3{
		text-align:center;
		font-family:Montserrat;
        font-size:20px;
        color:#91395f;
	}
    table{
        text-align: center;
        font-family: "Century Gothic";
        font-size: 14px;
        color:#91395f;
    }
</style>
<body style="background-color: #ad3e96">
<h3>About The Author of The Message</h3>
<table align="center">
    {% for bio in bio_dict %}
        <tr>
            <td class="subject">{{ bio.subject }}</td>
            <td class="value">{{ bio.value }}</td>
        </tr>
    {% endfor %}
</table>
</body>
<br><br>
