{%  extends "lab_4/layout/base.html" %}
{% block content %}

<style>
    .portofolio, .bio_title, .list_title, .send_message_title{
        text-align: center;
        font-size: 50px;
        padding-top: 20px;
        padding-bottom: 20px;

    }

    .portofolio{
        background-color: #ffccff;
        color: #ff80ff;
    }

    .bio_title{
        background-color: #ecdfff;
        color: #b380ff;
    }

    .list_title{
        background-color: #dfecff;
        color: #4d94ff;
    }

    .send_message_title{
        background-color: #ccffff;
        color: #00b3b3;
    }

    #list{
        background-color: #e6f0ff;
        color: #4d94ff;
    }

    #form{
        background-color: #e6ffff;
        color: #00b3b3;
    }

    .img-circle {
        border-radius: 50%;
        width: 200px;
        height: 200px;
    }

</style>

<div class="portofolio">
    <h1>Portofolio</h1>
    <img class="img-circle" src="https://pbs.twimg.com/profile_images/842381333817049088/_PDgDOIG_400x400.jpg">
</div>

<div class="bio">
    <div class="bio_title">
        <h2>Bio</h2>
    </div>

    <div style="text-align: center; background-color:#e8e3ff">
        <p style="font-size: 20px; padding-top: 50px; padding-bottom: 50px; color:#b380ff">
            {{ content }}
        </p>
    </div>
</div>

<section class="about_me">
    <div class="list_title">
        <h2>List</h2>
    </div>

    <ul id="list" style="font-size: 20px; padding-top: 50px; padding-bottom: 50px">
        {% for ii in about_me %}
        <li> {{ ii }}</li>
        {% endfor %}
    </ul>

</section>

<section name="form">
<!---------------TITLE-------------->
    <div class="send_message_title">
        <h2>Send Message</h2>
    </div>

    <!------------------------------FORM-------------------------------->
    <form id="form" method="POST" action="{% url 'lab-4:add_message' %}">
        {% csrf_token %}
        {{ message_form }}
        <br>
        <button type="submit" class="btn btn-default" style="color: #00b3b3">Submit</button>
    </form>

</section>

{% endblock %}