{% extends "lab_4/layout/base.html" %}
{% block title %} List of Messages {% endblock %}

{% block content %}
<table class="table"  style="background-color: #f2e5ff">
    <thead style="color: #b695ff">
        <th>Name</th>
        <th>Email</th>
        <th>Message</th>
        <th>Time submitted</th>
    </thead>
    <tbody>
        {% for i in message %}
        {% if i.name == 'Anonymous' or i.email == 'Anonymous' %}
        <tr class="warning" style="background-color: #ffb59d; color: #ff8a80"> {% else %} <tr class="success" style="background-color: #c1ffa8; color: #64ff63;">
            {% endif %}
            <td>{{ i.name }}</td>
            <td>{{ i.email }}</td>
            <td>{{ i.message }}</td>
            <td>{{ i.created_date }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}