{% extends "base.html" %}
{% block content %}
<style>
    body{
        background-image: url("http://68.media.tumblr.com/00d361de5dca1f4c0ae3a95c621e76be/tumblr_owid8wPbYZ1sbhzl5o1_1280.jpg");
        background-repeat: no-repeat;
        background-size: cover;
		background-position:0px 50px;
    }
    .center_screen {
        position: absolute;
        width: 500px;
        height: 50px;
        top: 50%;
        left: 50%;
        margin-left: -250px; /* margin is -0.5 * dimension */
        margin-top: -50px;
    }
    .status{
        font-size: 20px;
        font-family: "Century Gothic";
        color: #ff8a80;
        text-align: justify;
        text-justify: inter-word;

    }
</style>
<div class="center_screen">
     <p class="status">You've seen a message from {{ name }}. {{ content }} The information you need can be seen <a id="href_bio">here</a>.</p>
</div>
</body>
<script>
$(document).ready(function(){
        $("#href_bio").click(function(){
            window.location.href = '/lab-2-addon/'
        });

    });
</script>
</html>
{% endblock %}
