<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ name }}</title>
</head>

<body>
    <h1>Hello my name is {{ name }}</h1>
    <article>I am {{ age }} years old</article>
<style>
    body {font-family:Montserrat;}
    h1 {color:#B4D8E7}
    h1 {font-size:60px;}
    article {color:#ff7692}
    article {font-family:Montserrat; font-size:48px;}
</style>
</body>
</html>
