body{
    background-color: #3b5998;
}


#Login  > h1{
    text-align: center;
    font-family: Montserrat;
    color: white;
    font-size: 54px;
}

.login-box{
    margin-top: 15%;
    margin-left: 40%;
}

.login-box > button{
    width: 30%;
    height: 89px;
    font-size: 20px;
    background-color: transparent;
    font-family: Montserrat;
    color: white;
    border-radius: 20px;
    border-color: white;
}

.container{
    width: 100%;
    background-color: #3b5998;
}

.footer{
    position: absolute;
    bottom: 1000px;
    background-color: #3b5998;
    color: white;
    width: 100%;
}
