{% extends "lab_6/layout/base.html" %}

{% block content %}
    <!-- ChatBox Section -->

    <section name="Chatbox">
       <div class="wrapper">
          <div class="chat-box">
             <div class="chat-head">
                <h3>Jonathan Joestar</h3>
                <img src="https://maxcdn.icons8.com/windows10/PNG/16/Arrows/angle_down-16.png" title="Expand Arrow" width="16">
             </div>
             <div class="chat-body">
                    <div class="chat-history">
                        <div class="chat">
                            <div class="message">
                                Jojo bales chat gw plis...
                            </div>
                        </div>
                    </div>
                  <div class="chat-text">
                   <textarea id="text-chat" placeholder="Press Enter"></textarea>
                </div>
             </div>
          </div>
       </div>
    </section>
    {% endblock %}
