{% extends "lab_7/layout/base.html" %}

{% block content %}
    <section name="friend-list" id="friend-list">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-lg-8">
                    <h2> Friends List</h2>
                    <div id="friend-list" class="list-group">

                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascript %}
    <script>
        $( document ).ready(function () {
            $.ajax({
                method: "GET",
                url: '{% url "lab-7:data-friend" %}',
                success: function (response) {
                console.log(a)
                var a = response.json
                a = JSON.parse(a)


                for (var i = 0; i < a.length; i++) {
                    html = '<a class="list-group-item clearfix" href="get-friend-detail/'+a[i].pk+'" >' +a[i].fields.friend_name+" ("+a[i].fields.npm+')' +'<span data-id="'+a[i].pk+'" class="glyphicon glyphicon-remove" data-url="delete-friend/'+a[i].pk+'" style="color: red;position: absolute;top: 8px;right: 16px;"></span>'+'</a>';
                $("#friend-list").append(html)
                }
                
                    
                },
                error: function(error){
                    //#tampilkan pesan error
                    alert("Data kosong");
                }
            });


            $('#friend-list').on('click', '.list-group-item .glyphicon', function() {
                event.preventDefault();
                $(this).closest('.list-group-item').remove();
                $.ajax({
                method: "GET",
                url: $(this).data('url'),
                success: function (response) {
                },
                error: function(error){
                    //#tampilkan pesan error
                    alert("Data kosong");
                }
            });
            });


        });
    </script>
{% endblock %}
